.item-list {
    display: flex;
    flex-wrap: wrap;
    .item {
        text-align: center;
        width: 20%;
        padding: 10px;
        padding-top: 160px;
        overflow-x: hidden;
        position: relative;
        img {
            height: 150px;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}